/*
color pallete
https://www.w3schools.com/colors/colors_picker.asp
*/


.content-wrap{
    width: 600px;
    margin: 0 auto;
    padding: 20px 0;
}

body {
    margin: 0;
    padding: 0;
   background-color: whitesmoke;
}

h2{
    margin: 0; font-family: cursive;
}

img {float: center;}


#blackcoverdiv {
background-image: url(../Images/blackcover.jpg); background-size: cover;
}




/* Profile
----------------------*/


a:link {
    color: #f7fff7;
}
a:visited {
    color: #f7fff7;
}

header {
    background-color: #2f3061;
    color: white;
    text-align: center; 
}




nav {
    background-color: #2f3061;
    color: #f7fff7;
    text-align: center ;
}


 a:hover {text-decoration: none;}

/* Education
--------------------*/
.Education {background-color: turquoise;}



.Education a{
    color: white;
    background-color: #2f3061;
    text-decoration: none;
    padding: 2px;
    border-radius: 2px;
}
.Education a:hover {
    background: rgba(47, 48, 97, 80%);
}

#EducationDiv {
    background-image: url(../Images/pencils.jpg); background-size: cover;
}

.Education p{ width: 60%;}

/* Professional Experience
-------------------*/
#ProfExperience {
    clear: left;
}
.Professional-Experience {
    background-color: #ccf5ff;
}

#ExperienceDiv {
    background-image: url(../Images/flower\ desk.jpg);
    background-size: cover;
}

.Professional-Experience a {
    color: white;
    background-color: #2f3061;
    text-decoration: none;
    padding: 1px;
    border-radius: 1px;
}
.Professional-Experience a:hover {
    background: rgba(47, 48, 97, 80%);
}




/* Technical Skills
--------------------*/
.Technical-Skills {
 background-image: url(../Images/green.jpeg); background-size: cover;

}
.webtech {display: grid;
grid-template-columns: 1fr 2fr;}

/*Core Competencies
--------------------*/
.Core-Competencies {
background-color: #ffffb3;
}


/* Certificates and Awards
---------------------------*/
.Certificates-and-Awards {
    background-color: #ffcce6;
}

/* Portfolio and Projects
---------------------------*/
#portfo {margin-bottom: 4px;}

/* References
-----------------------*/
.References {
    background-color:#e0ebeb;
}

footer {
    background-color: #343434;
    color: #f7fff7;
    text-align: center;
}

.form {text-align: center;}
